// $color: ( // type Map => usage: ($color, bgPrimary)
//   bgPrimary: '#ED4430',
//   bgGray2: #272727,
//   bgGray1: #1E1E1E,
//   bgDark: #0A0A0A,
//   fontLight: #f4f4f4,
//   fontGray: #afafaf
// )

$colorBgPrimary: '#ED4430';
$colorBgGray2: #272727;
$colorBgGray1: #1E1E1E;
$colorBgDark: #0A0A0A;
$colorFontLight: #f4f4f4;
$colorFontGray: #afafaf;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
