

$colorAccent: #ED4430;
$colorBgGray2: #272727;
$colorBgGray1: #1E1E1E;
$colorBgDark: #0A0A0A;
$colorFontLight: #dfdfdf;
$colorFontGray: #afafaf;


$phonePortrait: 574px;
$phoneLandscape: 575px;
$tablet: 767px;
$desktop: 921px;
// $phonePortrait: 575px;
// $phoneLandscape: 767px;
// $tablet: 921px;

//    Phone       Phone
//   Portrait   Landscape    Tablet      Desktop
// |----------|-----------|----------|-------------->
// 0         575         767        921


















