#Banner{
  height: 100vh;
  overflow: hidden;
  position: relative;
  .carousel{
    height: 100%;
    display: flex;
    position: absolute;
    // transition: transform 1s ease-in-out .5s;
    .img-item{
      min-width: 100vw;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(40%);
        
      }
    }
  }
}
@keyframes startScale{
  0%{ // 0s
    transform: scale(1, 1);
  }
  25%{ // .5s
    transform: scale(.6, .6);
  }
  // 25% => .75
  // 50% => 1.5
  // 75% => 2.25
  75%{ // 2.5s
    transform: scale(.6, .6);
  }
  100%{ // 2s
    transform: scale(1, 1);
  }
}